/* SERVICES-PACK */
.service-pack1 {
    width: 100%;
    position: relative;
}

.service-pack1__content {
    position: relative;
    top: 0;
    height: 40.625em;
    text-align: center;
    border: 0.0625em solid #dfe5e8;
    margin: 3.125em 0;
    background-color: #f0f3f2;
    transition: all 0.6s;
}

.service-pack1__content:hover {
    height: 43.75em;
    top: -1.5625em;
    background-color: #ffff;
    margin-bottom: 0;
    transition: all 0.6s;
}

.service-pack1__title {
    width: 100%;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 1.25em 0 0 0;
    transition: all 0.6s;
    font-family: "Montserrat", sans-serif;
}

.service-pack1__description {
    padding-bottom: 0;
    overflow: hidden;
    opacity: 0;
    height: 0;
    color: #bbc6ce;
    transition: all 0.6s;
}

.service-pack1__price {
    height: 9.375em;
    background-color: aquamarine;
    font-weight: 300;
    padding-top: 0.3125em;
    margin-top: 0;
    transition: all 0.6s;
}

.service-pack1__content:hover .service-pack1__price {
    margin-top: 1.5625em;
}

.service-pack1__money  {
    display: block;
    font-size: 4.0625em;
    padding: 0;
    color: #ffff;
    font-family: "Montserrat", sans-serif;
}

.service-pack1__per-month {
    font-size: 1.25em;
    padding: 0;
    color: #ffff;
}

.service-pack1__price--biginner {
    background-color: #b0de79;
}

.service-pack1__price--advanced {
    background-color: #7ee0bf;
}

.service-pack1__price--master {
    background-color: #83bce9;
}

.service-pack1__price--insane {
    background-color: #a289e8;
}

.service-pack1__list {
    padding: 0;
}

.service-pack1__item {
    width: 100%;
    list-style-type: none;
    border-top: 0.0625em solid #dfe5e8;
    padding: 0.625em 0;
    font-weight: 300;
    color: #393d50;
}

.service-pack1__item--line-through {
    text-decoration-line: line-through;
    color: #a3acb3;
}

.service-pack1__subtitle {
    padding: 0.625em 0;
    height: 5em;
}

.service-pack1__subtitle-1 {
    font-size: 1.5em;
    display: block;
}

.service-pack1__subtitle-2 {
    font-size: 0.875em;
}

.pack1__sub {
    transition: all 0.6s;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.service-pack1__btn {
    margin: 2.5em 0;
    transition: all 0.2s;
    font-family: "Montserrat", sans-serif;
}

.service-pack1__btn-child {
    border-radius: 1.25em;
    padding: 0.625em 1.5625em;
    margin: 2.5em 0;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    color: #ffff;
    background-color: #393d50;
    transition: all 0.4s;
}

.service-pack1__content:hover .pack1__sub {
    opacity: 1;
    height: auto;
}

.service-pack1__content:hover .service-pack1__description {
    display: block;
    opacity: 1;
    height: auto;
}

.service-pack1__content:hover .service-pack1__title {
    padding-bottom: 0;
}

.service-pack1__btn-child > .fa-caret-right::before {
    color: #ffff;
}

.service-pack1__btn:hover {
    transform: scale(1.1);
}

.service-pack1__btn:active {
    transform: scale(1);
}

.service-pack1__content:hover .service-pack1__btn-child {
    background-color: #83bce9;
    color: #ffff;
}

.service-pack1__new::before {
    content: "new";
    padding: 1.25em 1em;
    border-radius: 3.125rem;
    font-size: 0.75rem;
    font-weight: 700;
    position: absolute;
    transform: translate(100%, -50%);
    text-transform: uppercase;
    color: #ffff;
    background-color: #393d50;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .service-pack1__description {
        font-size: 0.875em;
        padding-bottom: 0.1875em;
        transition: all 0.6s;
    }
}
